# Neon Database
DATABASE_URL=postgresql://username:password@ep-xxxxx.us-east-2.aws.neon.tech/neondb?sslmode=require

# Shopify API
SHOPIFY_STORE_NAME=littleouchies
SHOPIFY_CLIENT_ID=9dc826a78bcdbb39d0a7b6dfb10c9918
SHOPIFY_CLIENT_SECRET=your_client_secret_here
SHOPIFY_API_VERSION=2024-01
